.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55rem;
}

button {
  width: fit-content;
  height: 30px;
  background-color: silver;
}

button:hover {
  cursor: pointer;
}

h1 {
  color: silver;
}

.info {
  width: 70%;
  height: 30rem;
  border: solid black 2px;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: silver;
  letter-spacing: 0.15rem;
}
