.background {
  height: 55rem;
  background: linear-gradient(
    120deg,
    rgb(67, 106, 124),
    rgb(26, 39, 52),
    rgb(67, 106, 124)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: scroll;
  height: 40rem;
  width: 90%;
  border: solid rgba(192, 192, 192, 0.49) 2px;
  margin-bottom: 2%;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 16rem;
  margin: 2%;
  border: solid black 2px;
}

.desc {
  width: 100%;
  text-align: center;
}

a {
  text-decoration: underline;
}

a:hover {
  font-weight: 700;
  font-size: larger;
}

.img1 {
  background-image: url("/Users/brandonreleford/Desktop/DevProjects/reactApps/profile/public/Screenshot.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  display: flex;
  width: 40%;
  height: 100%;
}

.img2 {
  background-image: url("/Users/brandonreleford/Desktop/DevProjects/reactApps/profile/public/Calc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  display: flex;
  width: 40%;
  height: 100%;
}

.img3 {
  background-image: url("/Users/brandonreleford/Desktop/DevProjects/reactApps/profile/public/piano.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  display: flex;
  width: 40%;
  height: 100%;
}

.img4 {
  background-image: url("/Users/brandonreleford/Desktop/DevProjects/reactApps/profile/public/weather.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  display: flex;
  width: 40%;
  height: 100%;
}

.img5 {
  background-image: url("/Users/brandonreleford/Desktop/DevProjects/reactApps/profile/public/colors.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  display: flex;
  width: 40%;
  height: 100%;
}

.desc {
  margin-bottom: 10%;
}

.holder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5%;
  color: white;
}

button {
  width: 6%;
  height: 30px;
  background-color: silver;
}

button:hover {
  cursor: pointer;
}
